<%# Parcial donde muestra el cliente asociado a la venta %>
<% unless @sale.customer.blank? %>
	<script type="text/javascript">
		  $('.customer_info').addClass('hidden');
	</script>


	<div class="col-sm-12" style="padding:0;">
		<div class="customer_wrapper">
			<div class="col-sm-4">
				<%= image_tag 'sokoi.png', width: '50px' %>
			</div>
			<div class="col-sm-8" style="padding-top:3px; padding-left: 0;">
				<label>
					<i class="fa fa-user"></i>
					<span><%= @sale.customer.name %></span>
				</label><br>

				<label>
					<i class="fa fa-list-alt"></i>
					<span><%= @sale.customer.document %></span>
				</label>
			</div>
		</div>
	</div>

<% end %>
