<h4 class="text-primary"><span class="glyphicon glyphicon-usd"></span> Total Venta</h4>
<hr />

<label>Sub Total</label>
<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" readonly value=<%= number_to_currency(@sale.amount, unit: '') %>>
</div>

<label>Descuento</label>
<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" value=<%= @sale.discount.blank? ? 0 : number_to_currency(@sale.discounted, unit: '') %>>
</div>

<label class="text-success">Total Pagar</label>
<div class="input-group has-success total_price_output">
  <span class="input-group-addon price_output">$</span>
  <input type="text" class="form-control price_output" readonly value=<%= number_to_currency(@sale.total_amount, unit: '') %>>
</div> 