include header

.container
   .navbar
      .icon
         button(id="iconmenu" type="button" class="tcon tcon-menu--xcross" aria-label="toggle menu")
            span(class="tcon-menu__lines" aria-hidden="true")
            span(class="tcon-visuallyhidden") Toggle menu

      .alerts
         a(href="#"): img.first(src="icons/calendar.svg")
         a(href="#"): img.second(src="icons/message.svg")
         a(href="#"): img.last(src="icons/notifications.svg")     
            
         a.btn(class="ui button") Perfil
         
   .contenido
      h1 Tu código va aquí.
      
