header
   ul.menu    
      li: a(href="../home.html"): img(src="../icons/admin.png", alt="")
      li: a(href="inventario.html"): img(src="../icons/1-small.png", alt="")
      li: a(href="ventas.html"):    img(src="../icons/2-small.png", alt="")
      li: a(href="cambios.html"): img(src="../icons/3-small.png", alt="")
      li: a(href="consolas.html"): img(src="../icons/4-small.png", alt="")
      li: a(href="pagos.html"): img(src="../icons/5-small.png", alt="")
      li: a(href="usuarios.html"): img(src="../icons/6-small.png", alt="")
      li: a(href="agenda.html"): img(src="../icons/9-small.png", alt="")
      li: a(href="../index.html"): img(src="../icons/8-small.png", alt="")
