header
   ul.menu    
      li: a(href=""): img(src="icons/admin.png", alt="")
      li: a(href="/modulos/inventario.html"): img(src="icons/1-small.png", alt="")
      li: a(href="/modulos/ventas.html"): img(src="icons/2-small.png", alt="")
      li: a(href="/modulos/cambios.html"): img(src="icons/3-small.png", alt="")
      li: a(href="/modulos/consolas.html"): img(src="icons/4-small.png", alt="")
      li: a(href="/modulos/pagos.html"): img(src="icons/5-small.png", alt="")
      li: a(href="/modulos/usuarios.html"): img(src="icons/6-small.png", alt="")
      li: a(href="/modulos/clientes.html"): img(src="icons/7-small.png", alt="")
      li: a(href="/modulos/cartera.html"): img(src="icons/8-small.png", alt="")
      li: a(href="/modulos/agenda.html"): img(src="icons/9-small.png", alt="")
