extends ../templates/template-mod

block head
   title SoftKOI | Ventas
   
block content
   .ui.container
      .ui.top.attached.tabular.menu
         a.active.item(data-tab='ventas') Registro de Ventas
         a.item(data-tab='ventas-search') Consulta de Ventas
         a.item(data-tab='abonos') Abonos
         a.item(data-tab='clientes') Clientes
            
      include ventasmod
      include ventas-search
      include abonos
      include clientes 
            

               
