<div class="container">

   <% content_for :title do -%>
      Entrada de productos
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Tipos de productos", type_products_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Catgorias", categories_path %></h5></li>
      <li><h5 class="drop-title"><%= link_to "Productos", products_path %></h5></li>
   <% end -%>

   <div class="panel panel-default">
      <div class="panel-body">

         <table class="table table-bordered table-hover table-striped">
            <thead>
               <tr>
                  <th>Cantidad</th>
                  <th>Nombre Producto</th>
                  <th>Precio</th>
               </tr>
            </thead>

            <tbody id="input_products">
               <%= render @input_products %>
            </tbody>
         </table>

      </div>
   </div>

</div>
