<div class="container">

   <h2>Entrada de prodcutos</h2>
   <br>
   <table class="table table-bordered table-striped">
      <thead>
         <tr>
            <th>Cantidad</th>
            <th>Nombre Producto</th>
            <th>Precio</th>
         </tr>
      </thead>

      <tbody id="input_product">
         <%= render @input_products %>
      </tbody>
   </table>

   <%= render 'dialog' %>

</div>
