<p>
  <strong>Stock:</strong>
  <%= @input_product.stock %>
</p>

<p>

<p>
  <strong>Product:</strong>
  <%= @input_product.product.name %>
</p>
<%= link_to 'Edit', edit_input_product_path(@input_product) %> |
<%= link_to 'Back', input_products_path %>
