<!DOCTYPE html>
html(lang="es")
   head
      meta(charset="UTF-8")
      link(rel="icon", href="/icons/favicon.ico", type="image/x-icon")

      meta(name="autor" content="Emmanuel Deossa")
      meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
      link(rel="stylesheet", href="css/styles.css")
      link(rel="stylesheet", href="semantic/dist/semantic.min.css")
      block head

   body
      block container
         
      block scripts
      
