<div style="margin: 0px 60px;">

<% content_for :title do -%>
Reservar Consolas <i class="fa fa-caret-down"></i>
<% end -%>

<% content_for :menus do -%>
<li><h5 class="drop-title"><%= link_to "Consolas", consoles_path %></h5></li>
<li><h5 class="drop-title"><%= link_to "Precio de reserva", reserve_prices_path %></h5></li>
<% end -%>

<% content_for :button do -%>
<%= link_to new_reserf_path, remote: true, class: 'btn btn-success bold registrar' do %>
<div><i class="fa fa-plus"></i>
&nbsp;Registrar Reserva</div>
<% end %>
<% end -%>

<div class="panel panel-default" id="Reserve_Page">
  <div class="panel-body table">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Consola</th>
          <th>Date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Price reserve</th>
          <th>State</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="reserves">
        <% render @reserves %>
      </tbody>
    </table>
  </div>
</div>
<br>
<%= render 'dialog' %>
</div>
