extends ../../templates/template-mod

block head
  title SoftKOI | Acerca de 
  
block content
   .ui.container
      .ui.grid.segment
         .ui.row
            .ui.wide.column.centered.grid
               h1 Acerca de 
         .ui.row
            .ui.wide.column.segment
               center
                 p SoftKOI V 1.0.82
               br
               br
               center 
                p Softkoi es un software para la tienda de ropa KOI quien presta el servicio de venta de películas y ropa así como el alquiler de consolas de video juegos, SoftKOI se encarga de la gestión de inventario, ventas, control automatizado de los pagos y los cambios; al igual posee un control completo de las consolas de video juegos en la tienda así como una agenda para los recordatorios más importantes.
                  SoftKOI además de ser un completo sistema de gestión, es totalmente accesible con una interfaz amigable para el usuario y entendible por los nuevos vendedores. 
               br
               br
               p CodePlus - BrainCoding ©2015 todos los derechos reservados 
               .ui.horizontal.list
                  .item
                     img.ui.avatar.image(src="../imagenes/Desarrolladores/emmanuel2.jpg")
                     .content
                        .header Emmanuel Deossa
                        div Programador - Diseñador
                  .item
                     img.ui.avatar.image(src="../imagenes/Desarrolladores/camila.jpg")
                     .content
                        .header Camila Alzate
                        div Programadora - Diseñadora
                  .item
                     img.ui.avatar.image(src="../imagenes/Desarrolladores/miguel.jpg")
                     .content
                        .header Miguel Angel
                        div Programador - Diseñador
                  .item
                     img.ui.avatar.image(src="../imagenes/Desarrolladores/jesus.jpg")
                     .content
                        .header Jesus Francisco
                        div Programador - Diseñador
   include ../importaciones/footer
