extends ../../templates/template-mod

block head
   title SoftKOI | Ayuda
   
block content
   .ui.container
      .ui.grid.segment
         .ui.row
            .ui.wide.column.centered.grid
               h1 Ayuda
         .ui.row
            .ui.eight.wide.column
               .ui.items
                  .item
                     .image
                        img(src="../icons/1-big.png")
                     .content
                        a.header inventario
                        .meta 
                           span En este módulo se registran las entradas de los productos en la tienda y clasificarla de acuerdo a su tipo (Prendas, películas y consolas), editar su información y cantidad, además,  consultar todos los productos en existencia, consultar la información de cada uno, y se generará una notificación cuando la cantidad de un producto llegue a su stock mínimo.
               .ui.items
                 .item
                   .image
                      img(src="../icons/4-big.png")
                   .content
                      a.header consolas
                      .meta 
                         span En este módulo  se  permitirá reservar una consola, editar la reserva, consultar las reservas registradas, además de finalizar una reserva antes de que llegue a su tiempo final establecido y cancelar reservas futuras. Se generará una alerta cuando se cumpla el tiempo límite del mismo, también cuando la consola se reserva en un tiempo no disponible.
                .ui.items
                  .item
                    .image
                      img(src="../icons/5-big.png")
                    .content
                      a.header pagos
                      .meta 
                        span En este módulo se registraran los abonos que realicen los clientes a sus deudas, se podrán consultar estadísticas por día y/o mes de ingresos de las ventas de películas y prendas, consultar las estadísticas por día y/o mes de ingresos de las reservas de consolas, cambiar el estado del cliente a sin deudas cuando pague completamente, además de generar un reporte de ingresos de la venta de prendas y películas.
            .ui.eight.wide.column
               .ui.items
                  .item
                     .image
                        img(src="../icons/9-big2.png")
                     .content
                        a.header agenda
                        .meta 
                           span En este módulo se podrán registrar recordatorios en un calendario, podrán ser editados y consultados, además,  se  generan las notificaciones cuando un recordatorio llegue a su fecha establecida.
                  .ui.items
                    .item
                      .image
                        img(src="../icons/6-big.png")
                      .content
                        a.header clientes
                        .meta 
                          span En este módulo se registraran los clientes, se podrán consultar los datos de los mismos y editarlos.
                  .ui.items
                    .item
                      .image
                        img(src="../icons/2-big.png")
                      .content
                        a.header ventas
                        .meta 
                          span En este módulo se registrara una venta, se editara la cantidad de artículos que va a comprar, y se podrá consultar los artículos que lleva en el momento la venta con el total hasta el momento, generar un comprobante de pago cuando la venta se realice,  además de aplicar un descuento a las ventas y visualizar la información de la persona que adquirió la compra y agregarle una deuda si no paga el monto total de la misma , además generar una alerta cuando un cliente que esté en mora vaya a comprar otro artículo y cuando el cliente excede el límite del valor del préstamo estipulado; también este módulo tendrá la posibilidad de registrar cambios después de realizada la misma. 
   include ../importaciones/footer
