extends ../../templates/template-mod

block head
   title SoftKOI | Mapa de navegación
   
block content
  .ui.container
      .ui.segments
         .ui.teal.segment
            h2( class="ui center aligned header") Mapa de Navegación
         .ui.segment
            br
            .ui.two.column.centered.grid
               .four.column.centered.row
                  .column
                     .ui.vertical.text.menu
                        h4.ui.header INVENTARIO
                        a(class="item" href="inventario.html") Registro de productos                          
                        a(class="item" href="tipo-producto-inv.html") Registro tipo de productos
                        a(class="item" href="Categoría-inv.html") Registro de Categorías
                        a(class="item" href="entrada-inv.html") Registro de entradas
                        a(class="item" href="bajas-inv.html") Registro de bajas
                           
                  .column
                     .ui.vertical.text.menu
                        h4.ui.header VENTAS
                        a(class="item" href="ventas.html") Registro de Ventas
                        a(class="item" href="ventas.html") Consulta de Ventas
                        a(class="item" href="ventas.html") Abonos
                        a(class="item" href="ventas.html") Clientes
                           
                  .column
                     .ui.vertical.text.menu
                        h4.ui.header CAMBIOS
                        a(class="item" href="cambios.html") Cambios
            
               .four.column.centered.row
                  .column
                     .ui.vertical.text.menu
                        h4.ui.header GESTION CONSOLAS
                        a(class="item" href="consolas.html") Reservaciones
                           
                  .column
                     .ui.vertical.text.menu
                        h4.ui.header ESTATISTICAS Y REPORTES
                        a(class="item" href="pagos.html") Reporte de pagos
                        a(class="item" href="pagos.html") Reporte de ventas
                        a(class="item" href="pagos.html") Reporte de bajas
                        a(class="item" href="pagos.html") Reporte de alquiler
                        a(class="item" href="pagos.html") Reporte de clientes
                           
                  .column
                     .ui.vertical.text.menu
                        h4.ui.header GESTION USUARIOS
                        a(class="item" href="usuarios.html") Registro de usuarios
                           
               .four.column.centered.row
                  .column
                     .ui.vertical.text.menu
                        h4.ui.header AGENDA
                        a(class="item" href="agenda.html") Agenda
         
  include ../importaciones/footer
