<div style="margin: 0px 60px;">

   <% content_for :title do -%>
      Cambios <i class="fa fa-caret-down"></i>
   <% end -%>

   <% content_for :menus do -%>

   <% end -%>

   <% content_for :button do -%>
   <button class="btn btn-success bold" data-toggle="modal" data-target="#newCoupon">
     <i class='fa fa-plus'></i>&nbsp; Nuevo cambio
   </button>
   <% end -%>


   <div class="panel">

      <div class="panel-body table">
         <table id="datatable" class="table table-hover table-bordered table-striped">
            <thead>
               <tr>
                  <th>Código</th>
                  <th>Valor del Cambio</th>
                  <th>Código del Responsable</th>
                  <th>Fecha de Cambio</th>
               </tr>
            </thead>
            <tbody id="categories">
               <%= render @coupons %>
            </tbody>
         </table>
      </div>
   </div>
   <%= render 'dialog' %>
   <%= render 'coupons/shared/modals'%>
</div>
