<div class="text-center" style="margin-top:90px;">
	<br>
	<%= image_tag 'thomas.png' %>
	<h1>Bienvenido a SoftKOI APP</h1>
	<h4>Aca estamos muy OP</h4>
	<h4>El boton de cerrar ya funciona</h4>
</div>
