<div class="text-center" style="margin-top:90px;">
	<br>
	<%= image_tag 'magic.gif' %>
	<h1>Bienvenido a SoftKOI APP <strong><%= current_user.name %></strong></h1>
	<h4>Estamos en desarrollo</h4>
	<h5><%= Time.now.strftime("%F") %></h5>
</div>
