<div style="margin: 0px 60px;">
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <a href="#">
        <div class="dashboard-stats">
          <div class="left">
            <h3 class="flatBluec">44</h3>
            <h4>Ventas Totales</h4>
          </div>
          <div class="right flatBlue">
            <i class="ion ion-ios-cart-outline"></i>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <a href="#">
        <div class="dashboard-stats">
          <div class="left">
            <h3 class="flatBluec">11</h3>
            <h4>Total Productos</h4>
          </div>
          <div class="right flatBlue">
            <i class="icon ti-harddrive"></i>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <a href="#">
        <div class="dashboard-stats">
          <div class="left">
            <h3 class="flatBluecflatBluec">18</h3>
            <h4>Clientes Totales</h4>
          </div>
          <div class="right flatBlue">
            <i class="ion ion-ios-people-outline"></i>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <a href="#">
        <div class="dashboard-stats">
          <div class="left">
            <h3 class="flatBluec">0</h3>
            <h4>Total Reservas</h4>
          </div>
          <div class="right flatBlue">
            <i class="ion ion-filing"></i>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
