<div style="margin: 0px 60px;">
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <a href="#">
        <div class="dashboard-stats">
          <div class="left">
            <h3 class="flatBluec"><%= @sale_totals %></h3>
            <h4>Ventas Totales</h4>
          </div>
          <div class="right flatBlue">
            <i class="ion-ios-cart"></i>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <a href="#">
        <div class="dashboard-stats">
          <div class="left">
            <h3 class="flatBluec"><%= @produt_totals %></h3>
            <h4>Total Productos</h4>
          </div>
          <div class="right flatBlue">
            <i class="ion-ios-pricetags"></i>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <a href="#">
        <div class="dashboard-stats">
          <div class="left">
            <h3 class="flatBluecflatBluec"><%= @customer_totals %></h3>
            <h4>Clientes Totales</h4>
          </div>
          <div class="right flatBlue">
            <i class="ion-android-contacts"></i>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <a href="#">
        <div class="dashboard-stats">
          <div class="left">
            <h3 class="flatBluec"><%= @reserve_totals %></h3>
            <h4>Total Reservas</h4>
          </div>
          <div class="right flatBlue">
            <i class="ion-ios-game-controller-b"></i>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
