<%= month_calendar events: events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div class="event_description">
      <%= event.description %>
    </div>
  <% end %>
<% end %>
