<div style="margin: 0px 60px;">
<% content_for :title do -%>
  Calendario de eventos
<% end -%>

<% content_for :button do -%>
  <%= link_to new_event_path, remote: true, class: 'btn btn-success bold' do %>
     <i class="fa fa-plus"></i>
     &nbsp;Nuevo Evento
  <% end %>
<% end -%>

  <div id="events_calendar">
    <%= render partial: "calendar", locals: {events: @events} %>
  </div>
  <br>
   <%= render 'dialog' %>
</div>

<!-- modal para los eventos del dia -->

<div class="modal fade" tabindex="-1" role="dialog" id="modals_events">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title day_numbeer"></h4>
      </div>
      <div class="modal-body evenets">
        <p id="body_evenet"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
