<div style="margin: 0px 60px;">
<% content_for :title do -%>
  Calendario de eventos
<% end -%>

<% content_for :button do -%>
  <%= link_to new_event_path, remote: true, class: 'btn btn-success bold' do %>
     <i class="fa fa-plus"></i>
     &nbsp;Nuevo Evento
  <% end %>
<% end -%>

  <div id="events_calendar">
    <%= render partial: "calendar", locals: {events: @events} %>
  </div>
  <br>
   <%= render 'dialog' %>
</div>
