<div style="margin: 0px 60px;">

   <% content_for :title do -%>
      Clientes <i class="fa fa-caret-down"></i>
   <% end -%>

   <% content_for :menus do -%>
      <li><h5 class="drop-title"><%= link_to "Ventas", sales_path %></h5></li>
   <% end -%>

   <div class="panel panel-default">
      <div class="panel-body table">

         <table id="datatable" class="table table-bordered table-hover table-striped">
            <thead>
               <tr>
                 <th>Documento</th>
                 <th>Nombre</th>
                 <th>Apellido</th>
                 <th>Telefono</th>
                 <th>Celular</th>
                 <th>Edad</th>
                 <th>Email</th>
                 <th>Estado</th>
                 <th>Acción</th>
               </tr>
            </thead>

            <tbody id="customers">
               <%= render @customers %>
            </tbody>
         </table>
      </div>
   </div>
   <%= render 'dialog' %>
</div>
