<!-- Modal create custom customer-->
<div class="modal fade" id="newCoupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nuevo cambio.</h4>
      </div>
      <div class="modal-body">
        <%= form_tag  log_in_new_coupon_coupons_path ,:class => '', :id => '_cupons_form', method: "get" do %>
        <div class="form-group">
          <%= label_tag 'Codigo de la venta', nil, class: 'form-group'%>
          <%=text_field_tag 'search',@search.sale_id, class: "form-control"%>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Siguente',class: 'btn btn-success bold',:onclick => '$("#_cupons_form").submit();'%>
      </div>
      <%end%>
    </div>
  </div>
</div>
