Cargar_En_Reserva();
function Cargar_En_Reserva(){

  var muestraReloj;
  muestraReloj = function() {
		// console.log("El relog se esta actualizando en tiempo real");
    var fechaHora, horas, minutos, segundos , msuma;
    fechaHora = new Date;
    horas = fechaHora.getHours();
    minutosbefore = fechaHora.getMinutes();
    // segundos = fechaHora.getSeconds();
    // sufijo = ' AM';
    // if (horas > 12) {
    //   horas = horas - 12;
    //   sufijo = ' PM';
    // }
    if (horas < 10) {
      horas = '0' + horas;
    }
    if (minutosbefore < 10) {
      if(minutosbefore == 9){
        minutosbefore = minutosbefore + 1;
  			$('#reservation_start_time').val(horas + ':' + minutosbefore);
      }else{
        minutosbefore = '0' + parseInt(minutosbefore + 1);
  			$('#reservation_start_time').val(horas + ':' + minutosbefore);
      }
    }else if(minutosbefore == 59){
      msuma = minutosbefore + 1;
			minutos = '0' + (msuma - 60);
	    $('#reservation_start_time').val((horas + 1) + ':' + minutos);
		}else{
      minutos = minutosbefore + 1;
	    $('#reservation_start_time').val(horas + ':' + minutos);
    }
    // if (segundos < 10) {
    //   segundos = '0' + segundos;
    // }
  };

  setTimeout(function(){
		muestraReloj()
		setInterval(function(){
				if($("#real_time").prop('checked')){
					muestraReloj();
					var intervalistrue = $('#intervalrealtime').attr('realtimeprop');
					if( intervalistrue !== "true"){
						var ckeckintervalvalue = $("#reservation_reserve_price_id option:selected").val();
						if(ckeckintervalvalue !== ""){
							calculatehoursandminutes();
						}else{
						}
					}else{
					}
				}else{
				}
		},3000);
	}, 1);


  $('#reservation_reserve_price_id').change(function(){
		$('#reservation_start_time').removeAttr('disabled');
		$('#reservation_end_time').removeAttr('disabled');
    $('#Btn_RReserve').removeAttr('disabled');
    $('#intervalrealtime').attr({'realtimeprop':"false"});

		calculatehoursandminutes();
	});
}


function calculatehoursandminutes(){
	var fechaHora, fin, h_split, h_split_f, horas, inter, minutos, rel_fin, second_split, seconds, segundos, send_ini, split_time, split_time_f, sufijo, sum_rel_fin, var_start_time, var_id_interval;
	fechaHora = new Date;
	horas = fechaHora.getHours();
	minutos = fechaHora.getMinutes();
	segundos = fechaHora.getSeconds();

	var id_reserve_price = $('#reservation_reserve_price_id option:selected').val();

	$.ajax({
		url:'/reservations/price_interval',
		data:{id_reserve_price_selected:id_reserve_price},
		type:'get',
		DataType:'json'
	}).done(function(done){
		var price = done['value'];
		$('.field_prices').val(price);
		$('.field_prices_id').val(id_reserve_price);
	}).error(function(errors){
		// alert("Error en el ajax de /reservations/price_interval ubicado en el new.js.erb"+errors);
	});
	// if (horas > 12) {
	//   horas = horas - 12;
	//   sufijo = ' PM';
	// }
	if (horas < 10) {
		horas = '0' + horas;
	}
	if (minutos < 10) {
		minutos = '0' + minutos;
	}
	if (segundos < 10) {
		segundos = '0' + segundos;
	}
	inter = parseInt($('#reservation_reserve_price_id option:selected').text());
	var_start_time = $('#reservation_start_time').val();
	if (var_start_time !== '') {
		split_time = var_start_time.split(':');
		second_split = split_time[1];
		split_time_f = second_split.split(' ');
		rel_fin = parseInt(split_time_f[0]);
		sum_rel_fin = rel_fin + inter;
		if (sum_rel_fin >= '60') {
			h_split = parseInt(split_time[0]);
			h_split_f = h_split + 1;
			fin = sum_rel_fin - 60;
			send_ini = parseInt('00');
			seconds = send_ini + fin;
			if (seconds < 10) {
				seconds = '0' + seconds;
			}

			$('#reservation_end_time').val(h_split_f + ':' + seconds);
		} else {
			h_split = parseInt(split_time[0]);
			if (h_split < 10) {
				h_split = '0' + h_split;
			}
			seconds = sum_rel_fin;
      if(seconds < 10){
        seconds = '0' + seconds;
      }
			$('#reservation_end_time').val(h_split + ':' + seconds);
		}
	}
}

$('#reserve_price_console_id').change(function(){
	var console_identify;
	console_identify = $(this).val();
	$.ajax({
		url:'/reservations/ajaxnewconsole',
		data:{consol: console_identify},
    datatype:'json',
		type: 'get'
	}).done(function(done){
    var j = 0;
    var html = "<option>Selecciona una opción</option>";
    for (var i = 0; i < done.length; i++) {
      html += "<option value='"+done[i][0]+"' >"+done[i][1]+"</option>";
    }
    $('#reservation_reserve_price_id').html(html);
		$('#reservation_reserve_price_id').parent().show();
	}).error(ajaxerror);
});

	function ajaxerror(error){
		console.log("Ha ocurrido un error al conectar con el servidor en:");
	}


function validatereservations(){
  var campo1,campo2,campo3,campo4,campo5,campo6,timesplide3,timesplide3_end,timesplide4,timesplide4_end;
  var split_pm_medium3,split_hora_hard3,split_modal_start_time_initial,split_modal_start_time_final;
  var split_pm_medium4,split_hora_hard4;
  var count_reserves = 0;
  if ($('#Btn_RReserve').attr('disabled')) {
    //Esto es para que no pase nada mientras el boton este deshabilitado.
  }else{
    var modaldate,modalstart_time,modalendtime,modalconsole ;

    modaldate = $('#reservation_date').val();
    modalendtime = $('#reservation_end_time').val();
    modalconsole =  $('#reserve_price_console_id option:selected').text();
    split_modal_start_time_initial = $('#reservation_start_time').val();
    split_modal_start_time_final = split_modal_start_time_initial.split(':');
    modalstart_time = parseInt(split_modal_start_time_final[0] + split_modal_start_time_final[1]);

    $('#datatable tbody tr').each(function(index){

      $(this).children('td').each(function(index2){
        switch (index2) {
          case 1:
              campo1 = $(this).text();
            break;
          case 2:
              campo2 = $(this).text();
            break;
          case 3:
              timesplide3 = $(this).text();
              timesplide3_end = timesplide3.split(' ');
              if(timesplide3_end[1] == "PM"){
                split_pm_medium3 = timesplide3_end[0].split(':');
                split_hora_hard3 = parseInt(split_pm_medium3[0]);
                campo3 = parseInt((split_hora_hard3 + 12) + split_pm_medium3[1]);
              }else{
                campo3 = timesplide3_end[0];
              }
            break;
          case 4:
          timesplide4 = $(this).text();
          timesplide4_end = timesplide4.split(' ');
            if(timesplide4_end[1] == "PM"){
              split_pm_medium4 = timesplide4_end[0].split(':');
              split_hora_hard4 = parseInt(split_pm_medium4[0]);
              campo4 = (split_hora_hard4 + 12) + split_pm_medium4[1];
            }else{
              campo4 = $(this).text();
            }
            break;
          case 6:
              campo6 = $(this).text();
            break;
          default:
        }
      });

      if((modalconsole == campo1) && (modaldate == campo2) && (modalstart_time >= campo3 && modalstart_time <= campo4)){
        count_reserves = count_reserves + 1;
      }else{

      }
    });
    if(count_reserves > 0){
      $('#error_explanation').html("<ul><li>La consola ya se encuentra reservada para la hora seleccionada.</li></ul>");
    }else{
      $('#new_reservation').submit();
    }
  }
}
