extends ../../templates/template-mod

block head
  title SoftKOI | Acerca de 
  
block content
  .ui.container
    .ui.grid
      .ui.row.segment
        .ui.wide.column.centered.grid
          h1 Acerca
          
  include ../importaciones/footer
