extends ../../templates/template-mod

block head
  title SoftKOI | Acerca de 
  
block content
   .ui.container
      .ui.grid.segment
         .ui.row
            .ui.wide.column.centered.grid
               h1 Acerca
         .ui.row
            .ui.wide.column.segment
               p SoftKOI V 1.0.82
               p CodePlus - BrainCoding ©2015 todos los derechos reservados 
               .ui.horizontal.list
                  .item
                     img.ui.avart.image(src="")
                     .content
                        .header Emmanuel Deossa
                        div Programador - Diseñador
                  .item
                     img.ui.avart.image(src="")
                     .content
                        .header Camila Alzate
                        div Programadora - Diseñadora
                  .item
                     img.ui.avart.image(src="")
                     .content
                        .header Miguel Angel
                        div Programador - Diseñador
                  .item
                     img.ui.avart.image(src="")
                     .content
                        .header Miguel Angel
                        div Programador - Diseñador
   include ../importaciones/footer
