extends ../../templates/template-mod

block head
  title SoftKOI | Acerca de 
  
block content
   .ui.container
      .ui.grid.segment
         .ui.row
            .ui.wide.column.centered.grid
               h1 Acerca
         .ui.row
            .ui.wide.column.segment
               p CodePlus - BrainCoding ©2015 todos los derechos reservados 
          
   include ../importaciones/footer
