extends ../../templates/template-mod

block head
   title SoftKOI | Ayuda
   
block content
  .ui.container
   .ui.grid
     .ui.row.segment
       .ui.wide.column.centered.grid
         h1 Ayuda
           
  include ../importaciones/footer
