extends ../../templates/template-mod

block head
   title SoftKOI | Mapa de navegación
   
block content
  .ui.container
    .ui.grid.segment
      .ui.row
        .ui.wide.column.centered.grid
          h1 Mapa de navegación
      .ui.row.segment
        ul
          li
            p INVENTARIO
            li
              a(href="inventario.html") registro de productos
            li
              a(href="tipo-producto-inv.html") registro tipo de productos
            li
              a(href="categoria-inv.html") registro categoria
            li
              a(href="entrada-inv.html") registrar entrada
            li
              a(href="bajas-inv.html") registrar baja
                      
          li
            p VENTAS
            li
              a(href="ventas.html") registro de Ventas
            li
              a(href="#") Consulta de Ventas
            li
              a(href="#") Abonos
            li
              a(href="#") Clientes
          li
            p CAMBIOS
            li
              a(href="cambios.html") Cambios
          li
            p ALQUILER
            li
              a(href="consolas.html") Registrar alquiler
              
          li
            p REPORTES 
            li
              a(href="pagos.html") Reporte de pagos
            li
              a(href="#") Reporte de ventas
            li
              a(href="#") Reporte de bajas
            li
              a(href="#") Reporte de alquiler
            li
              a(href="#") reporte de clientes
          li
            p USUARIOS
            li
              a(href="usuarios.html") registrar usuarios
          li
            p AGENDA
            li
              a(href="agenda.html") Agenda
          
            
  include ../importaciones/footer
