extends ../../templates/template-mod

block head
   title SoftKOI | Mapa de navegación
   
block content
  .ui.container
      .ui.segments
         .ui.teal.segment
            h2( class="ui center aligned header") Mapa de Navegación
         .ui.segment
            br
            .ui.two.column.centered.grid
               .four.column.centered.row
                  .column
                     .ui.vertical.text.menu
                        a.item
                           h4.ui.header INVENTARIO
                           a(href="inventario.html") Registro de productos
                           a(href="tipo-producto-inv.html") Registro tipo de productos
                           a(href="categoria-inv.html") Registro de categorias
                           a(href="entrada-inv.html") Registro de entradas
                           a(href="bajas-inv.html") Registro de bajas
                           
                  .column
                     .ui.vertical.text.menu
                        a.item
                           h4.ui.header VENTAS
                           a(href="ventas.html") Registro de Ventas
                           a(href="ventas.html") Consulta de Ventas
                           a(href="ventas.html") Abonos
                           a(href="ventas.html") Clientes
                           
                  .column
                     .ui.vertical.text.menu
                        a.item
                           h4.ui.header CAMBIOS
                           a(href="cambios.html") Cambios
            
               .four.column.centered.row
                  .column
                     .ui.vertical.text.menu
                        a.item
                           h4.ui.header GESTION CONSOLAS
                           a(href="consolas.html") Reservaciones
                           
                  .column
                     .ui.vertical.text.menu
                        a.item
                           h4.ui.header ESTATISTICAS Y REPORTES
                           a(href="pagos.html") Reporte de pagos
                           a(href="pagos.html") Reporte de ventas
                           a(href="pagos.html") Reporte de bajas
                           a(href="pagos.html") Reporte de alquiler
                           a(href="pagos.html") Reporte de clientes
                           
                  .column
                     .ui.vertical.text.menu
                        a.item
                           h4.ui.header GESTION USUARIOS
                           a(href="usuarios.html") Registro de usuarios
                           
               .four.column.centered.row
                  .column
                     .ui.vertical.text.menu
                        a.item
                           h4.ui.header AGENDA
                            a(href="agenda.html") Agenda
         
  include ../importaciones/footer
