<p id="notice"><%= notice %></p>

<h1>Listing Payments</h1>

<table>
  <thead>
    <tr>
      <th>Pagado</th>
      <th>Venta</th>
      <th>Total a Pagar</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.sale.id %></td>
        <td><%= payment.sale.total_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
