.ui.three.column.grid.footer
  .ui.row.segment
    .seven.wide.column CodePlus ©2015
    .one.wide.column
      img(src="../imagenes/softkoifooter.png")
    .seven.wide.column.right.aligned
      a(href="Acerca.html") Acerca de&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href="mapaNavegacion.html") Mapa de navegación&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href="ayuda.html") Ayuda&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
