@import "semantic-ui";

body {
	background-color: #16A085;
}

body > .grid {
	height: 100%;
}

.image {
	margin-top:40px;
	width: 140px;
	margin-right: 20px;

}

.column {
	max-width: 470px;
	margin-top: 20px;

}

form{
	margin-top: 40px;
}

.ui.fluid.large.submit{
	background-color: #2ECC71;
}