*{
  margin: 0;
  padding: 0;
}
body{
  background: #EEF3FA !important;
  font-family: sans-serif !important;
}


span.select2-selection--single {
  height: 41px !important;
}

span.select2-selection.select2-selection--single {
  padding: 11px 24px 6px 12px !important;
}

div.btn-block {
  border-width: 2px !important;
  font-size: 16px !important;
}

a.no-hover:hover {
  color: white;
  color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.btn {
  border-width: 0px !important;
}

.btn-success {
  background-color: #29b765 !important;
  border-color: #29b765 !important;
}

.label {
  padding: .3em .6em .4em !important;
  vertical-align: bottom !important;
}

a {
  color: #2C3E50;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: #18BC9C !important;
}

.label-success {
  background-color: #2ECC71 !important;
}

header{
  margin-left: 82px;
  width: 100%;
  position: fixed;
  border-bottom: 4px solid #e7eaee;
  display: flex !important;
  z-index: 1;
}

.btn-xs{
  vertical-align: initial !important;
}

.customer_wrapper {
  background: #ECF0F1;
  width: 100%;
  border-radius: 3px;
  height: 70px;
  padding-top: 10px;
  margin-bottom: 15px;
}

table#products {
  border-width: 2px;
  border-color: #dce4ec !important;
}

li.Mnormal{
  transition: box-shadow 0.4s ease 0s;
}
li.Mnormal:hover {
  box-shadow: 81px 0 #e4e8ec inset, 84px 0 #abb6c4 inset !important;
}

.Mnormarclick{
  box-shadow: 81px 0 #e4e8ec inset, 84px 0 #abb6c4 inset !important;
}

textarea#sale_comment {
  width: 100%;
}

#addtotable {
  border-radius: 3px !important;
  height: 33px !important;
  margin-left: 4px !important;
}
/*-----------------------------etiquetas con clases---------------------*/
ul.menu.normal{
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: outside none none;
  min-height: 100%;

}
ul.menu.normal li.Mnormal{
  position: relative;
  background-color: white;
  flex-grow: 1;
  width: 100%;
  outline: 1px solid #e7eaee;
  box-shadow: -3px 0 #e7eaee inset;
  /*border-right: 3px solid #e7eaee;*/
  min-height: 62px;


}
ul.menu.normal li.Mnormal a{
  position: absolute;
  width: 100%;
  height: 100%;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items:  center;
  padding-left: 35%;
}
ul.menu.normal li.Mnormal span{
  display: none;
}
.menulateral ul.menu.normal li.Mnormal:last-child{
  /*transition: all 0.4s ease 0s;*/
}

.HomeM.Hnormal a img{
  margin-left: 12%;
  margin-top: 2%;
  transition: all 0.4s ease 0s;
}
.HomeM.Hdesplegado a img{
  margin-left: 37%;
  margin-top: 2%;
}
div.menusuperior div.controlmenu{

}
div.menusuperior div.centro{

}
div.menusuperior div.alerts a img{
  height: 31px;
}
div.menusuperior div.alerts a.ALETCalendario {
  width: 50px;
  height: 34px;
}

div.menusuperior div.alerts a.ALETMensajes {
  width: 50px;
  height: 34px;
}
div.menusuperior div.alerts a.ALETNotificacion {
  width: 50px;
  height: 34px;
}
.alerts a.btn {
  padding-top: 10px;
  padding-bottom: 10px;transition: all 0.4s ease 0s;
  background-color: #1abc9c;
  color: #212121;
  letter-spacing: 1.2px;
  font-weight: 700;
}
span.last {
  padding-right: 40px;
}

/*-----------------------------clases solas-------------------------*/

div.awesomplete {
  float: left;
  padding-bottom: 20px;
  width: 83%;
}

.ion-android-remove-circle, .ion-android-add-circle {
  font-size: 22px !important;

}


a.sale_product_quantity {
  display: inline;
  vertical-align: middle;

  &:first-child {
    padding-right:10px;
    color: #E74C3C !important;
  }
  &:last-child {
    padding-left:10px;
    color: #18BC9C !important;

  }
}

td.amount {
  width: 170px !important;
}

div.adjust.hidden-print {
  text-align: center;
}

input#item_quantity {
  display: inline !important;
  width: 35% !important;
}

.table-bordered {
  border: 1px solid #DCE4EC !important;
  border-radius: 3px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #DCE4EC !important;
}


.charts_home #chart-1, #chart-2 {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.panel-custom {
  box-shadow: 1px 1px 1px #34495E;
}

h3.welcome {
  margin: 0;
}

.dashboard-stats {
  background-color: #FFFFFF;
  position: relative;
  min-height: 107px;
  padding: 3px;
  padding-left: 5%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: table;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.dashboard-stats .left {
  float: left;
  padding-top: 5px;
}

.dashboard-stats .right {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 30%;
  bottom: 3px;
  border-radius: 2px;
  font-size: 48px;
  text-align: center;
  color: #FFFFFF;
}

.dashboard-stats .left h3 {
  font-size: 28px;
  font-family: 'Helvetica Neue', 'Nunito', sans-serif;
  font-weight: bold;
}

.dashboard-stats .left h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.flatBluec {
  color: #34495e !important;
}

.flatBlue {
  background-color: #34495e;
}

.dashboard-stats .right i {
  vertical-align: middle;
  line-height: 107px;
}


#DataTables_Table_0_wrapper .row{
  margin: 0px;
}

.form-group.required .control-label:after {
  color: #d00;
  content: "*";
  margin-left: 3px;
}

.required .control-label:after {
  color: #d00;
  content: "*";
  margin-left: 3px;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;;
}

.pd{
  padding-top: 6px;
}

.dropdown.open .dropdown-menu {
  max-height: 300px;
  opacity: 1;
}

.dropdown-menu{
  padding-right: 20px !important;
}

.drop-title{
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.open{
  cursor: pointer;
}

h3.dropdown-toggle{
  cursor: pointer;
  font-size: 22px !important;
}

span.caret{
  cursor: pointer;
}

.inline{
  display: inline-block;
}

.title-upper{
  margin-top:4px !important;
  margin-bottom: 5px !important;
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
}

.span-table{
  font-size: 88% !important;
}

.modal-errors{
  margin-top: 10px;
  margin-left:14.6px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 12.5px;
}

.ui.icon.button{
  color: #000 !important;
}

.tiny.icon.button i{
  font-size: 1.2em !important;
}

.alerts{
  display: flex;
  align-items: center;
  margin-right: 9%;
}


.menusuperior.normal
{
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  transition: all 0.4s ease 0s;
}
.menusuperior.desplegado
{
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-left: 172px;
  width: 100%;
  height: 70px;
  transition: all 0.4s ease 0s;
}
.menulateral.normal
{
  position: fixed;
  width: 84px;
  height: 92vh;
  margin-top: 74px;
  transition: all 0.4s ease 0s;
}
.container1.normal{
  padding-left: 84px;
  padding-top: 85px;
  transition: all 0.4s ease 0s;
}
.container1.desplegado{
  padding-left: 258px;
  padding-top: 87px;
  transition: all 0.4s ease 0s;
}
.HomeM.Hnormal{
  position: fixed;
  background: #e7eaee none repeat scroll 0 0;
  width: 84px;
  height: 73px;
  transition: all 0.4s ease 0s;
}
.HomeM.Hdesplegado{
  position: fixed;
  background: #e7eaee none repeat scroll 0 0;
  width: 254px;
  height: 72px;
  transition: all 0.4s ease 0s;
}
.imgsize{
  margin-right: 15px;
}
.controlmenu{
  display: flex;
  align-items: center;
  padding-left: 25px;
}
/*--------------------------IDS--------------------------*/

/*--------------------------- propiedades para el menu desplegado----------------*/
li.Mdesplegado{
  transition: all 0.4s ease 0s;
}
li.Mdesplegado:hover {

  box-shadow: 249px 0 #e4e8ec inset, 256px 0 #abb6c4 inset;
}
ul.menu.desplegado li.Mdesplegado{

  height: 48px;
}
ul.menu.desplegado li.Mdesplegado a.Modulos{
  position: fixed;
  width: 257px;
  height:48px;
  padding-left: 1%;
  padding-top: 10px;

}
ul.menu.desplegado li.Mdesplegado a span{
  position: absolute;
  margin-top: 2px;
  margin-left: 16px;
  font-size: 16px;
  color: black;

}
.menulateral ul.menu.desplegado li.Mdesplegado:last-child{
  position: absolute;
  width: 252px;
  height:72px;
  background-color: white;
  bottom: 1px;
  transition: all 0.4s ease 0s;
}
.menulateral ul.menu.desplegado li.Mdesplegado:last-child a.Salir{
  position: fixed;
  width: 252px;
  height:72px;
  padding-top: 1.6%;
  padding-left: 115px;

}
/*--------------------clases------------------*/
.menulateral.desplegado
{
  position: fixed;
  background-color: white;
  border-right: 4px solid #e7eaee;
  width: 254px;
  height: 92vh;
  margin-top: 72px;
  transition: width 0.4s ease 0s;
}
ul.menu.desplegado{
  height: 100%;
}
/*---------------------ids------------------*/



/*--------------boton de accion para el menu------------*/

.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  color: #FAFAFA;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
}

.tcon > * {
  display: block;
}

.tcon:hover, .tcon:focus {
  outline: none;
}

.tcon::-moz-focus-inner {
  border: 0;
}

.tcon-menu__lines {
  display: inline-block;
  height: 4px;
  width: 40px;
  border-radius: 2.85714px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #212121;
  position: relative;
}

.tcon-menu__lines::before, .tcon-menu__lines::after {
  display: inline-block;
  height: 4px;
  width: 3px;
  border-radius: 2.85714px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #212121;
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  -ms-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%;
}

.tcon-menu__lines::before {
  top: 10px;
}

.tcon-menu__lines::after {
  top: -10px;
}

.tcon-transform .tcon-menu__lines {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.tcon-menu--xcross {
  width: auto;
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
  background: transparent;
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 40px;
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/* Alerts */
#notice_wrapper {
  .alert {
    background: rgba(231, 76, 60,1.0);
    border-radius: 0px !important;
  }
  .notice{ background:rgba(26, 188, 156,1.0) }
  .alert, .notice {
    color: #fff;
    font-size: 16px !important;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }
}


#notice_wrapper2{
  background:rgba(26, 188, 156,1.0);
  color: #fff;
  font-size: 16px !important;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.alerts_notice{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

//Switcher
section.switch {
  width: 160px;
  display: inline-block;
}
input.switch {
  display: block;
  opacity: 0;
}
label.switch {
  width: 60px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: rgb(189, 189, 189);
  border-radius: 30px;

  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}
label.switch:after {
  left: 0;
  width: 20px;
  height: 20px;
  margin: 5px;
  content: '';
  position: absolute;
  background: #FFF;
  border-radius: 10px;
}
input.switch:checked + label {
  background: rgb(39, 173, 95);
}
input.switch:checked + label.switch:after {
  left: auto;
  right: 0;
}

p.switch {
  font: normal 10px/40px Arial;
  color: rgb(189, 189, 189);
  text-transform: uppercase;
  letter-spacing: 1px;
}

input.switch:checked ~ p.switch:nth-of-type(1) {
  color: rgb(39, 173, 95);
  display: block;
}

input.switch:not(:checked) ~ p.switch:nth-of-type(2) {
  display: block;
}
