<div class="container">

   <h2>Categorias.</h2>
   <%= link_to new_category_path, remote: true, class: 'btn btn-success' do %>
   <i class="fa fa-plus"></i>
   Nueva Categoria
   <% end %>

   <br>
   <table class="table table-bordered table-striped">
      <thead>
         <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tipo de Producto</th>
            <th>State</th>
            <th width="140">Acciones</th>
         </tr>
      </thead>

      <tbody id="categories">
         <%= render @categories %>
      </tbody>
   </table>

   <%= render 'dialog' %>

</div>
