<h1>New Category</h1>
<!--Se realiza un array de errores-->
<%@category.errors.full_messages.each do |message| %>
	<%= message %>
<%end%>

<%= render 'form' %>

<%= link_to 'Back', categories_path %>
