<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @types_console.name %>
</p>

<%= link_to 'Edit', edit_types_console_path(@types_console) %> |
<%= link_to 'Back', types_consoles_path %>
