<div class="container">

	<h2>Productos</h2>
	<%= link_to new_product_path, remote: true, class: 'btn btn-success' do %>
		<i class="fa fa-plus"></i>
		Nuevo Producto
	<% end %>

	<br><br>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Categoria</th>
				<th>Stock</th>
				<th>Cantidad</th>
				<th>Price</th>
				<th>State</th>
				<th width="142">Acciones</th>
			</tr>
		</thead>

		<tbody id="products">
			<%= render @products %>
		</tbody>
	</table>

	<%= render 'dialog' %>

</div>
