<div class="container">

	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="bold title-upper">Registro de Productos</h3>
		</div>
	</div>
	
	<%= link_to new_product_path, remote: true, class: 'btn btn-success bold registrar' do %>
		<i class="fa fa-plus"></i>
		&nbsp;Nuevo Producto
	<% end %>

	<br><br>
	<div class="panel panel-default">
	   <div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Categoria</th>
						<th>Stock</th>
						<th>Cantidad</th>
						<th>Precio</th>
						<th>Estado</th>
						<th width="142">Acciones</th>
					</tr>
				</thead>

				<tbody id="products">
					<%= render @products %>
				</tbody>

			</table>
	   </div>
	</div>

	<%= render 'dialog' %>

</div>
