<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @types_clothing.name %>
</p>

<%= link_to 'Edit', edit_types_clothing_path(@types_clothing) %> |
<%= link_to 'Back', types_clothings_path %>
